<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Tasks</h1>
        <hr><br><br>
        <alert :message="message" v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.task-modal>Agregar</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(task, index) in tasks" :key="index">
              <td>{{ task._type.name }} </td>
              <td>{{ task.description }}</td>
              <td>{{ task.status }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm"
                    v-b-modal.task-update-modal
                   @click="editTask(task)" >Actualizar</button>
                  <button type="button" class="btn btn-danger btn-sm"
                    @click="onDeleteTask(task)">Borrar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addTaskModal"
            id="task-modal"
            title="Agregar nueva tarea"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-type-group"
                      label="Tipo:"
                      label-for="form-type-input">
            <b-form-input id="form-type-input"
                          type="text"
                          v-model="addTaskForm.id_type"
                          required
                          placeholder="Ingrese el id del tipo de la tare">
            </b-form-input>
          </b-form-group>
        <b-form-group id="form-description-group"
                      label="Descripción:"
                      label-for="form-description-input">
            <b-form-input id="form-description-input"
                          type="text"
                          v-model="addTaskForm.description"
                          required
                          placeholder="Ingrese una descripcion para la tarea">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-status-group"
                        label="Estado"
                        label-for="form-status-input">
              <b-form-input id="form-status-input"
                            type="text"
                            v-model="addTaskForm.status"
                            required
                            placeholder="Ingrese el estado de la tarea">
              </b-form-input>
            </b-form-group>
          <b-button type="submit" variant="primary">Agregar</b-button>
          <b-button type="reset" variant="danger">Reiniciar</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editTaskModal"
       id="task-update-modal"
       title="Actualizar tarea"
       hide-footer>
       <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
           <b-form-group id="form-type-edit-group"
                       label="Tipo:"
                       label-for="form-type-edit-input">
               <b-form-input id="form-type-edit-input"
                           type="text"
                           v-model="editForm.id_type"
                           required
                           placeholder="El identificador para la tarea">
               </b-form-input>
           </b-form-group>
           <b-form-group id="form-description-edit-group"
                       label="Descripción:"
                       label-for="form-description-edit-input">
               <b-form-input id="form-description-edit-input"
                           type="text"
                           v-model="editForm.description"
                           required
                           placeholder="Ingrese una descripcion para la tarea">
               </b-form-input>
           </b-form-group>
           <b-form-group id="form-status-edit-group"
               label="Estado"
               label-for="form-status-edit-input">
               <b-form-input id="form-status-edit-input"
                   type="text"
                   v-model="editForm.status"
                   required
                   placeholder="Ingrese el estado de la tarea">
               </b-form-input>
           </b-form-group>
           <b-button type="submit" variant="primary">Actualizar</b-button>
           <b-button type="reset" variant="danger">Cancelar</b-button>
       </b-form>
   </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      tasks: [],
      addTaskForm: {
        id_type: '',
        description: '',
        status: '',
      },
      editForm: {
        id: '',
        id_type: '',
        description: '',
        status: '',
      },
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getTasks() {
      const path = 'http://localhost:5000/api/tasks';
      axios.get(path)
        .then((res) => {
          this.tasks = res.data.items;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addTask(payload) {
      const path = 'http://localhost:5000/api/tasks';
      axios.post(path, payload)
        .then(() => {
          this.showMessage = true;
          this.message = 'Tarea agregada!';
          this.getTasks();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getTasks();
        });
    },
    initForm() {
      this.addTaskForm.id_type = '';
      this.addTaskForm.descripcion = '';
      this.addTaskForm.status = '';
      this.editForm.id = '';
      this.editForm.id_type = '';
      this.editForm.description = '';
      this.editForm.status = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addTaskModal.hide();
      const payload = {
        id_type: this.addTaskForm.id_type,
        description: this.addTaskForm.description,
        status: this.addTaskForm.status,
      };
      this.addTask(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addTaskModal.hide();
      this.initForm();
    },
    editTask(task) {
      this.editForm = task;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTaskModal.hide();
      const payload = {
        id_type: this.editForm.id_type,
        description: this.editForm.description,
        status: this.editForm.status,
      };
      this.updateTask(payload, this.editForm.id);
    },
    updateTask(payload, taskID) {
      const path = `http://localhost:5000/api/tasks/${taskID}`;
      axios.put(path, payload)
        .then(() => {
          this.getTasks();
          this.message = 'Tarea actualizada!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTasks();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editTaskModal.hide();
      this.initForm();
      this.getTasks();
    },
    removeTask(taskID) {
      const path = `http://localhost:5000/api/tasks/${taskID}`;
      axios.delete(path)
        .then(() => {
          this.getTasks();
          this.message = 'Tarea eliminada!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTasks();
        });
    },
    onDeleteTask(task) {
      this.removeTask(task.id);
    },
  },
  created() {
    this.getTasks();
  },
};
</script>
